*{
  margin: 0;
  font-size: 20px;
}

header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  height: 150px;
}

.menu{
  display: flex;
  gap: 1rem;

}
.menu-items{
  display: flex;
  background-color: white;
  border-style:groove;
  border-color: black;
  justify-content: space-between;
  padding: 10px;
}

.menu :hover{
  background-color: black;
  border-color: white;
}

.menu-items a{
  text-decoration: none;
}

.ItemListContainer{
  display: grid;
  flex-direction: column;
  place-items: center;
  min-height: 50vh;
}

.CartWidget{
  background-color: white;
  border-style:groove;
  border-color: black;
}